<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MissaoSocorroAPP">



        <activity
            android:name=".ABLogicaPontuacao"
            android:exported="false" />
        <activity
            android:name=".XLogicaNivelAdolescente"
            android:exported="false" />
        <activity
            android:name=".ZZLogicaAdolescente"
            android:exported="false" />



        <activity
            android:name=".FGLogicaPergunta3CN3"
            android:exported="false" />
        <activity
            android:name=".FFLogicaPergunta3BN3"
            android:exported="false" />
        <activity
            android:name=".FELogicaPergunta3AN3"
            android:exported="false" />
        <activity
            android:name=".FDLogicaPergunta2CN3"
            android:exported="false" />
        <activity
            android:name=".FCLogicaPergunta2BN3"
            android:exported="false" />
        <activity
            android:name=".FBLogicaPergunta2AN3"
            android:exported="false" />
        <activity
            android:name=".FALogicaPergunta1N3"
            android:exported="false" />



        <activity
            android:name=".EGLogicaPergunta3CN2"
            android:exported="false" />
        <activity
            android:name=".EFLogicaPergunta3BN2"
            android:exported="false" />
        <activity
            android:name=".EELogicaPergunta3AN2"
            android:exported="false" />
        <activity
            android:name=".EDLogicaPergunta2CN2"
            android:exported="false" />
        <activity
            android:name=".ECLogicaPergunta2BN2"
            android:exported="false" />
        <activity
            android:name=".EBLogicaPergunta2AN2"
            android:exported="false" />
        <activity
            android:name=".EALogicaPergunta1N2"
            android:exported="false" />



        <activity
            android:name=".DGLogicaPergunta3CN1"
            android:exported="false" />
        <activity
            android:name=".DFLogicaPergunta3BN1"
            android:exported="false" />
        <activity
            android:name=".DELogicaPergunta3AN1"
            android:exported="false" />
        <activity
            android:name=".DDLogicaPergunta2CN1"
            android:exported="false" />
        <activity
            android:name=".DCLogicaPergunta2BN1"
            android:exported="false" />
        <activity
            android:name=".DBLogicaPergunta2AN1"
            android:exported="false" />
        <activity
            android:name=".DALogicaPergunta1N1"
            android:exported="false" />



        <activity
            android:name=".CCLogicaNivel3Crianca"
            android:exported="false" />
        <activity
            android:name=".CBLogicaNivel2Crianca"
            android:exported="false" />
        <activity
            android:name=".CALogicaNivel1Crianca"
            android:exported="false" />



        <activity
            android:name=".BDLogicaNiveisCrianca"
            android:exported="false" />
        <activity
            android:name=".BCLogicaComecarCrianca"
            android:exported="false" />
        <activity
            android:name=".BBLogicaSelecaoIdade"
            android:exported="false" />
        <activity
            android:name=".BALogicaBoasVindas"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>