<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MissaoSocorroAPP">
        <activity
            android:name=".ULogicaPergunta3C"
            android:exported="false" />
        <activity
            android:name=".ZLogicaPontuacao"
            android:exported="false" />
        <activity
            android:name=".XLogicaNivelAdolescente"
            android:exported="false" />
        <activity
            android:name=".WLogicaAdolescente"
            android:exported="false" />
        <activity
            android:name=".TLogicaPergunta3B"
            android:exported="false" />
        <activity
            android:name=".SLogicaPergunta3A"
            android:exported="false" />
        <activity
            android:name=".RLogicaPergunta2C"
            android:exported="false" />
        <activity
            android:name=".QLogicaPergunta2B"
            android:exported="false" />
        <activity
            android:name=".PLogicaPergunta2A"
            android:exported="false" />
        <activity
            android:name=".OLogicaPergunta1"
            android:exported="false" />
        <activity
            android:name=".NLogicaPergunta3C"
            android:exported="false" />
        <activity
            android:name=".MLogicaPergunta3B"
            android:exported="false" />
        <activity
            android:name=".LLogicaPergunta3A"
            android:exported="false" />
        <activity
            android:name=".KLogicaPergunta2C"
            android:exported="false" />
        <activity
            android:name=".JLogicaPergunta2B"
            android:exported="false" />
        <activity
            android:name=".ILogicaPergunta2A"
            android:exported="false" />
        <activity
            android:name=".HLogicaPergunta1"
            android:exported="false" />
        <activity
            android:name=".GLogicaNivel3Crianca"
            android:exported="false" />
        <activity
            android:name=".FLogicaNivel2Crianca"
            android:exported="false" />
        <activity
            android:name=".ELogicaNivel1Crianca"
            android:exported="false" />
        <activity
            android:name=".DLogicaNiveisCrianca"
            android:exported="false" />
        <activity
            android:name=".CLogicaComecarCrianca"
            android:exported="false" />
        <activity
            android:name=".BLogicaSelecaoIdade"
            android:exported="false" />
        <activity
            android:name=".ALogicaBoasVindas"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>